<launch>

    <arg name="goal_x" default="5.0" />
    <arg name="goal_y" default="13.0" />
    <!-- <arg name="odomTopic" default="/odom" /> -->

    <rosparam file="$(find robust_fast_navigation)/params/local_costmap_params.yaml" command="load" ns="robust_planner/local_costmap/" />
    <rosparam file="$(find robust_fast_navigation)/params/global_costmap_params.yaml" command="load" ns="robust_planner/global_costmap/" />

    <include file="$(find robust_fast_navigation)/launch/gmapping.launch" />

    <node name="publish_pf_pose" pkg="robust_fast_navigation" type="publish_pf_pose" output="screen" />

    <!-- MPC Tracking -->
    <include file="$(find mpc_trajectory_tracking)/launch/jackal_mpc_track.launch" >
        <remap from="/move_base_simple/goal" to="/recoveryGoal" />
    </include>

</launch>
