<launch>

    <node name="robust_planner" pkg="robust_fast_navigation" type="robust_planner" output="screen">
    <!-- <node name="robust_planner" pkg="robust_fast_navigation" type="robust_planner" > -->
    <!-- <node name="robust_planner" pkg="robust_fast_navigation" type="robust_planner" 
          launch-prefix="lldb" output="screen">  -->
        
        <!-- Max velocity for planner to execute. Doesn't currently work -->
        <param name="max_velocity" value="1" />
        <!-- How frequently the planner loop runs in seconds -->
        <param name="planner_frequency" value=".2" />
        <!-- How far ahead in time the planner will look to grab the initial pos -->
        <param name="lookahead" value=".35" />
        <!-- Divide speeds in trajectory by this number, this is how speed is controlled -->
        <param name="const_factor" value="6" />
        <!-- Plan without sending anything to external tracker -->
        <param name="teleop" value="true" />
        <!-- Plan once and then exit, useful for debugging -->
        <param name="plan_once" value="true" />
        <!-- Whether or not to simplify the JPS before constructing corridor.
             It's best to keep this set as true. -->
        <param name="simplify_jps" value="true" />
        <!-- Frame for planning to occur -->
        <param name="frame" value="map" />
        <!-- Time discretization of trajectory -->
        <param name="traj_dt" value=".05" />
        <!-- How many planner failures before entering failsafe mode -->
        <param name="failsafe_count" value="4" />
        <!-- Plan only within free space, doesn't work very well... -->
        <param name="plan_in_free" value="false" />
        <!-- How far out in distance the planner will generate a trajectory -->
        <param name="max_dist_horizon" value="4" />

        <remap from="/planner_goal" to="/move_base_simple/goal" />
        <!-- <remap from="/planner_goal" to="/gap_goal" /> -->
        <!-- <remap from="/planner_goal" to="/final_goal" /> -->
        <remap from="/odometry/filtered" to="/gmapping/odometry" />
    </node>

    <!-- <include file="$(find barn_challenge)/launch/barn_nav.launch" />  -->
    <!-- <include file="$(find gap_detection)/launch/gap_detection.launch" /> -->
    <!-- <node name="BRSManager" pkg="robust_fast_navigation" type="brs_manager" output="screen" /> -->
</launch>
