<launch>

    <arg name="barn" default="false" />
    <arg name="barn_dist" default="10.0" />
    <arg name="max_vel" default=".8" />
    <arg name="enable_recover" default="false" />
    <arg name="param_file" default="$(find robust_fast_navigation)/params/planner.yaml" />

    <rosparam file="$(arg param_file)" command="load" ns="robust_planner/" />
    <!-- <node name="robust_planner" pkg="robust_fast_navigation" type="robust_planner_gurobi" > -->
    <node name="robust_planner" pkg="robust_fast_navigation" type="robust_planner_gurobi" output="screen">
    <!-- <node name="robust_planner" pkg="robust_fast_navigation" type="robust_planner_gurobi" 
          launch-prefix="lldb" output="screen">  -->
        <param name="v_max" value="$(arg max_vel)" />
        <param name="enable_recovery" value="$(arg enable_recover)" />
        <param name="is_barn" value="$(arg barn)" />
        <param name="barn_goal_dist" value="$(arg barn_dist)" />

        <remap from="/planner_goal" to="/move_base_simple/goal" />
        <remap from="/odometry/filtered" to="/gmapping/odometry" />
    </node>

    <group if="$(arg enable_recover)">
        <node name="run_inference_gp" pkg="robust_fast_navigation" type="run_inference_gp.py" output="screen" />
    </group>

</launch>
